@font-face { font-family: Argos; src: url('../css/fonts/ArgosLig.otf'); } 
html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: rgb(28,28,29);
    height: 50px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

h2 {
    font-size: 45px;
    float: left;
    color: white;
    margin-left: 25px;

}

.add-recipe {
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    float: right;
    font-size: 20px;
    margin-right: 25px;
    margin-top: 15px;
}

.submit-recipe {
    width: fit-content;
    justify-self: center;
}

.image-container {
    display: grid;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/mushroomC-tail.jpg);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

h1 {
    color: white;
    font-family: "Argos";
    font-size: 60px;
    text-align: center;
    align-self: center;
    filter: unset;
}
form {
    margin-top: 50px;
    width: 100%;
    display: grid;
}
::placeholder{
    font-family: "Open Sans", sans-serif;
    padding-left: 5px;
}

a{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}
input {
    border: black 1px solid;
    width: 97%;
    height: 30px;
    justify-self: center;
    margin-bottom: 20px;
}

.info {
    margin-left: 25px;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;
}

h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}

p {
    line-height: 30px;
}