@font-face { font-family: Argos; src: url('../css/fonts/ArgosLig.otf'); } 
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    background: whitesmoke;
}

header {
    background-color: rgb(28,28,29);
    height: 50px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

h2 {
    font-size: 45px;
    float: left;
    color: white;
    margin-left: 25px;
    font-family: "Dancing Script";
    transition:  all 0.1s linear;
}

h2:hover {
    transform: scale(1.05);
    transition:  all 0.1s linear;
    color: red;
}
button{
    width: fit-content;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
 }
 button:hover{
     background-color: #ccc;
 }

.add-recipe {
    background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    float: right;
    font-size: 20px;
    margin-right: 25px;
    margin-top: 15px;
    transition:  all 0.1s linear;
}

.add-recipe:hover {
    background-color: rgb(28,28,29);
    color: rgb(73, 251, 53);
    transform: scale(1.05);
    transition:  all 0.1s linear;
}

/* .submit-recipe {
    width: auto;
    justify-self: center;
    border: 1px black solid;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 30px;
    transition:  all 0.1s linear;

}
.submit-recipe:hover {
    color: blue;
    transform: scale(1.05);
    transition:  all 0.1s linear;
} */
.data-message {
    font-family: "Dancing Script";
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

span {
    font-family: "Dancing Script";
}

.fab {
    font-size: 30px;
    transition:  all 0.1s linear;
}

.fab:hover {
    transform: scale(1.05);
    transition:  all 0.1s linear;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 50%;
}

.thumbnail {
    border-radius: 50px;
    height: 200px;
    width: 200px;
    margin-top: 50px;
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.75);
}

#instruction, #ingredient {
    border: black solid 1px;
}

#recipe-title:hover {
    color: initial;
    text-decoration: none;
}
.container {
    height: 40%;
    margin-top: 50px;
}

.recipe-title:hover {
    text-decoration: underline;
    color: blue;
}

.recipe-rating {
    position: absolute;
    right: 25px;
}

.search-results-msg {
    text-align: center;
    font-size: 30px;
    font-family: "Argos"
}
/* Zack's CSS ends */
.image-container {
    display: grid;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/cocktail7.jpg);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    transition: all 0.7s ease-out;
}

h1 {
    color: white;
    font-family: "Argos";
    font-size: 60px;
    text-align: center;
    align-self: center;
    filter: unset;
    text-shadow: rgb(0, 0, 0) 1px 2px 1px;
}
form {
    margin-top: 50px;
    width: 100%;
    display: grid;
}

::placeholder{
    font-family: "Open Sans", sans-serif;
    padding-left: 5px;
}

a{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

input {
    border:black 1px solid;
    width: 97%;
    height: 30px;
    justify-self: center;
    margin-bottom: 20px;
}

.info {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.search-columns {
    display:-webkit-inline-box;
    margin-top: 10px;
    font-weight: bold;
}

.recipe-column {
    margin-left: 25px;
    text-decoration: underline;
}

.rating-column {
    position: absolute;
    right: 25px;
    text-decoration: underline;
}

h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 35px;
}

p {
    line-height: 30px;
}

.star-out{
    display: inline-block;
    position: relative;
}

.star-out::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005 \f005 \f005 \f005 \f005"; 

}

.star-in{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.star-in::before{
    font-family: "Font Awesome 5 Free";
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 900;
    color: gold;
    margin-right: 15px;
}


/* gina CSS starts */

.inputForm {
    margin-top: 60px;
    width: 60%;
    margin: 0 auto;
}

.addRecipeInput{
    border: #ccc 1px solid;
    height: 30px;
    justify-self: center;
    margin-bottom: 15px;
}

textarea{
    outline: none;
    width: 97%;
    height: 50px;
    overflow: auto;
}

#ingredientSection, #addIngredient{
    width: 400px;
}
.noBreak{
    overflow: hidden;
    white-space: nowrap; 
}

/* #btnAddIngredient{
    width: fit-content;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    outline:none;
 }
 #btnAddIngredient:hover{
     background-color: #ccc;
 } */

 input:focus{
    outline:none;
 }

.submit-recipe {
    width: fit-content;
    justify-self: center;
    margin-top:20px;
    background-color: black;
    color: white;
}

.submit-recipe:hover{
    border:3px solid gray;
    background-color: black;
    color: white;
}


.btn-fa{
    font-size: 18px;
    color: #bbb;
    vertical-align: middle;
    background: none;
    border:none;
    padding:none;
    padding-left: 10px;
}
.btn-fa:hover{
    color:gray;
    cursor: pointer;
    background: none;
    border:none;
    padding:none;
}
#showResult{
    margin-top: 20px;
    color: green;
    text-align: center;
    font-family: "Argos";
}

/* gina CSS ends */






